@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    font-family: 'Open Sans', sans-serif;
}

#header {
    margin-bottom: 30px;
}

/* Content */
#content {
    margin-bottom: 30px;
}

    #content .container h2 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    #content .row > div[class*="col-"] {
        margin-bottom: 30px;
    }

    #content .panel {
        border: 1px solid #eee;
        border-radius: 3px;
    }

        #content .panel .panel-title {
            background: #eee;
            padding: 5px 10px;
        }

            #content .panel .panel-title h3 {
                font-size: 22px;
                margin-bottom: 0;
            }

        #content .panel .panel-content {
            padding: 10px;
        }

        #content .panel .panel-content .badge {
            cursor: pointer;
        }
/* // */

/* Footer */
#footer {
    background: #eee;
    padding: 30px 0;
    color: #b3b3b3;
}
/* // */
