{% extends "layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-title">
                <h3>Bitcoin</h3>
            </div>
            <div class="panel-content">
                <div class="timeset">
                    <span class="badge badge-secondary" data-coin="btc" data-timeset="hour">1h</span>
                    <span class="badge badge-light" data-coin="btc" data-timeset="day">24h</span>
                    <span class="badge badge-light" data-coin="btc" data-timeset="week">7d</span>
                </div>
                <div class="chart-container" data-coin="btc" data-type="currency"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-title">
                <h3>Ethereum</h3>
            </div>
            <div class="panel-content">
                <div class="timeset">
                    <span class="badge badge-secondary" data-coin="eth" data-timeset="hour">1h</span>
                    <span class="badge badge-light" data-coin="eth" data-timeset="day">24h</span>
                    <span class="badge badge-light" data-coin="eth" data-timeset="week">7d</span>
                </div>
                <div class="chart-container" data-coin="eth" data-type="currency"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-title">
                <h3>NEO</h3>
            </div>
            <div class="panel-content">
                <div class="timeset">
                    <span class="badge badge-secondary" data-coin="neo" data-timeset="hour">1h</span>
                    <span class="badge badge-light" data-coin="neo" data-timeset="day">24h</span>
                    <span class="badge badge-light" data-coin="neo" data-timeset="week">7d</span>
                </div>
                <div class="chart-container" data-coin="neo" data-type="currency"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-title">
                <h3>OMG</h3>
            </div>
            <div class="panel-content">
                <div class="timeset">
                    <span class="badge badge-secondary" data-coin="omg" data-timeset="hour">1h</span>
                    <span class="badge badge-light" data-coin="omg" data-timeset="day">24h</span>
                    <span class="badge badge-light" data-coin="omg" data-timeset="week">7d</span>
                </div>
                <div class="chart-container" data-coin="omg" data-type="currency"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
